  /* 記事タイトル */
kijititle {
color: #364e96;/*文字色*/
padding: 0.5em 0;/*上下の余白*/
border-top: solid 3px #364e96;/*上線*/
border-bottom: solid 3px #364e96;/*下線*/
}
 /* 出来た！チェック */
dekita{
  position: relative;
  color: white;
  background: #81d0cb;
  line-height: 1.4;
  padding: 0.5em 0.5em 0.5em 1.8em;
}

dekita:before {/*疑似要素*/
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  position: absolute;
  left : 0.5em; /*左端からのアイコンまでの距離*/
}

  /* ふきだし1 */
fukidashi01 {
position: relative;
padding: 0.6em;
background: -webkit-repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
background: repeating-linear-gradient(-45deg, #fff5df, #fff5df 4px,#ffe4b1 3px, #ffe4b1 8px);
border-radius: 7px;
}

fukidashi01:after {
position: absolute;
content: '';
top: 100%;
left: 30px;
border: 15px solid transparent;
border-top: 15px solid #ffebbe;
width: 0;
height: 0;
}

/*箇条書き丸*/
maru {
position: relative;/*相対位置*/
padding-left: 1.5em;/*アイコン分のスペース*/
line-height: 1.4;/*行高*/
color: black;/*文字色*/
}

maru:before{ font-family: "Font Awesome 5 Free";/*忘れずに*/
content: "\f111";/*アイコンのユニコード*/
position: absolute;/*絶対位置*/
font-size: 1.4em;/*サイズ*/
left: 0;/*アイコンの位置*/
top: -0.2em;/*アイコンの位置*/
}

.example1:before{color: #ffa7a1;}
.example2:before{color: #ffdfa1;}
.example3:before{color: #a1ceff;}
.example4:before{color: #b1eab8;}


/*マステ見出し*/
.maste {
  position: relative;
  background-color: #fff;
  background-image: linear-gradient(-45deg, rgba(250,215,215,.5) 25%, transparent 25%, transparent 50%, rgba(250,215,215,.5) 50%, rgba(250,215,215,.5) 75%, transparent 75%, transparent 100%),
  linear-gradient(45deg, rgba(250,215,215,.5) 25%, transparent 25%, transparent 50%,  rgba(250,215,215,.5) 50%, rgba(250,215,215,.5) 75%, transparent 75%, transparent 100%);
  background-size: 40px 40px;
  padding: 1em;
}
.tape{
  position: absolute;
  top: -0.75em;
  background-color: rgba(255,255,255,.4);
  border-left:2px dotted rgba(0,0,0,.1);
  border-right:2px dotted rgba(0,0,0,.1);
  box-shadow:0 0 5px rgba(0,0,0,0.2);
  padding: 0.25em 2em;
  color: #65513f;
  transform: rotate(-3deg);
}
.maste p {
  color: #65513f;
  padding: 15px 10px 10px 10px;
}


/*件名カスタマイズ*/
h1 {
color: #5d616d;/*文字色*/
border-bottom: dotted 2px #7bc15d;
/*線の種類（点線）2px 線色*/
font-family: "Font Awesome 5 Free";
  content: "\f2bb";
  position: absolute;
  left : 0.5em;
}

/*サイドバーカスタマイズ*/

.hatena-module-title{
  position: relative;
  color: black;/* 文字色 */
  border-bottom: dotted 2px #7bc15d;
  background: #ffffff;/* 背景色 */
  line-height: 1.4;
  padding: 0.5em 0.5em 0.5em 1.8em;/* タイトル内の余白 */
  margin: 0px -10px 20px -10px;/* タイトルの位置を調整。 */
}

/* 検索 */
.hatena-module-search-box .hatena-module-title:before {
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  position: absolute;
  left : 0.5em; 
}
/* 月別アーカイブ */
.hatena-module-archive .hatena-module-title:before {
  font-family: "Font Awesome 5 Free";
  content: "\f187";
  position: absolute;
  left : 0.5em; 
}
/* 最新記事 */
.hatena-module-recent-entries .hatena-module-title:before {
  font-family: "Font Awesome 5 Free";
  content: "\f303";
  position: absolute;
  left : 0.5em; 
}
/* 注目記事 */
.hatena-module-entries-access-ranking .hatena-module-title:before {
  font-family: "Font Awesome 5 Free";
  content: "\f201";
  position: absolute;
  left : 0.5em; 
}
/* カテゴリー */
.hatena-module-category .hatena-module-title:before {
  font-family: "Font Awesome 5 Free";
  content: "\f02c";
  position: absolute;
  left : 0.5em; 
}
/* HTML */
.hatena-module-html .hatena-module-title:before {
  font-family: "Font Awesome 5 Free";
  content: "\f005";
  position: absolute;
  left : 0.5em; 
}