/* <system section="theme" selected="6653586347149180725"> */
@import url("https://blog.hatena.ne.jp/-/theme/6653586347149180725.css");
/* </system> */

.main-navigation,
.main-navigation ul ul {background-color: #f2fcfb;}

.menu-toggle, .main-navigation a {
  color: #1e50a2
}

.main-navigation a {
  border-top: 1px solid #1e50a2
}

.main-navigation a:hover {
  color: #1e50a2
}
.main-navigation {
  background-color: #f2fcfb;
  color: #1e50a2
}

.main-navigation a {
  border-top: none
}

.main-navigation a:hover {
  color: #1e50a2;
  background-color: #f8ffe2;
  font-weight: 700}
 